name: Docker Image Building

on:
  workflow_dispatch:
    inputs:
      rel_type:
        description: 'Release type'
        required: true
        default: build_no_release
        type: choice
        options:
          - build_no_release
          - dockerhub
      push_ver:
        description: 'Version to Push'
        required: false
  push:
    paths-ignore: 
      '.github'

env:
  TAG: thisredh/purpurmc
  TEST_VER: build_test
  LATEST_VER: latest

jobs:
  docker:
    runs-on: ubuntu-latest


    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ github.head_ref }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
  
    - name: Build Image
      uses: docker/build-push-action@v4
      with:
        load: true
        tags: '${{ env.TAG }}:${{ env.TEST_VER }}' 

    - if: ${{ (inputs.push_ver != '') }}
      name: Push to Docker Hub
      uses: docker/build-push-action@v4
      with:
        platforms: linux/amd64, linux/arm64
        push: true
        tags: |
          '${{ env.TAG }}:${{ env.LATEST_VER }}'
          '${{ env.TAG }}:${{ inputs.push_ver }}'
